<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="get">
        <label for="busqueda">Busqueda:</label>
        <input type="search" name="busqueda" id="buscar" class="form-control" placeholder="Buscar" value="{{ request.GET.busqueda }}">
        <button class="btn btn-success" type="submit">Buscar</button>
    </form>
    <br>
    {% for song in songs  %}
        <ul>
            <li>{{song.Track}}</li>
        </ul>
        <iframe src={{"https://open.spotify.com/embed/track/"|add:song.id}}
            width="300" height="380" frameborder="0" allowtransparency="true" 
            allow="encrypted-media">
        </iframe>
    {% endfor %}
    
    {% for a in Albumes %}
        <!-- <ul>
            <li>{{a.Nombre}}</li>
            <li>{{a.Id}}</li>
            
        </ul> -->
        <iframe src={{"https://open.spotify.com/embed/album/"|add:a.Id}}
        width="300" height="{% if a.album_type == 'single' %}155{% else %}380{% endif %}" frameborder="0" allowtransparency="true" 
            allow="encrypted-media">
        </iframe>
    
    {% endfor %}
        
        
</body>
</html>